<%- include("partials/header"); -%>
    <!-- header -->
    <header class="masthead" style="background-image: url('/assets/img/maa_charan.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 class="fs-3">JAI SHREE MATAJI 🙏🏻</h1>
                        <span class="subheading">We welcome our brothers and sisters from all corners of the world to celebrate 101st Birth Anniversary of our most beloved mother 💖</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

                <!-- Post preview-->
            <!-- <% for(var i=0; i<items.length; i++){ %> -->
                <!-- <div class="post-preview">
                    <a href="/<%= items[i]._id %>">
                        <h2 class="post-title"><%= items[i].title %></h2>
                        <h3 class="post-subtitle"><%= items[i].body?.substring(0,40) %>...</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!"><%= items[i].author %></a>
                    </p>
                </div> -->
                <!-- Divider-->
                    <!-- <hr class="my-4" />    -->
            <!-- <% } %> -->
            
            <h6 class="text-center">H. H. SHREE MATAJI NIRMALA DEVI SAHAJA YOGA TRUST</h6>
            <h2 class="text-center">INTERNATIONAL BIRTHDAY POOJA 2024</h2>
            <p class="text-center mt-0">19th - 21st March, 2024 | Chhindwara, M.P, India</p>

            <img src="assets/img/maa.jpg"/ class="col-md-12 rounded-5">

            <h3 class="text-center mt-3">Message for World Collectivity</h3>
            <p  class="text-center fs-6 fst-italic"> “It is nice that you are celebrating my birthday with such enthusiasm, and so
                much happiness. So nice to see all this, and I want you all to be my
                decorations! In the whole world they should see that you are my children and
                that you are of such great values and such great understanding. You are my
                children. I have really worked for you, in the sense that every moment of my
                life, I have thought of you: I wanted to work it out in such a beautiful manner
                that you become really good people, ideal people, special people, with
                understanding. So, that is the day you should feel that your birthday is being
                celebrated. When you have completely cleared out, you have become nirmal,
                absolutely pure personality of love – that’s the day is your birthday, and mine
                too.”<br><b>H.H. Shree Mataji Nirmala Devi</b></p>
            

            <hr>
            <h3  class="text-center">REGISTRATION INFORMATION</h3>
            <p class="fw-bold">FOR INDIAN YOGIS</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">CATEGORY</th>
                        <th scope="col">CONTRIBUTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bal Shakti</td>
                        <td>Rs. 1200/-</td>
                    </tr>
                    <tr>
                        <td>Yuva Shakti</td>
                        <td>Rs. 1800/-</td>
                    </tr>
                    <tr>
                        <td>Adults</td>
                        <td>Rs. 2300/-</td>
                    </tr>
                </tbody>
            </table>

            <p class="fw-bold">FOR FOREIGN YOGIS</p>
            <p>CATEGORY: All | CONTRIBUTION: Rs ----/-</p>
            <a href="registration" class="btn btn-success custom-btn  rounded mx-auto d-block">Register Now!</a>

            <!-- <h3>IMPORTANT CONTACTS</h3>
            <ul><a href="/path-to-your-registration-page/registration.ejs" class="btn btn-success custom-btn">Register Now</a>
                <li>Sahaja Yogi Shreyansh Jain (Registration Team) - Contact: +91 9039391390</li>
                <li>Manish Sahu (Registration Team) - Contact: +91 9754850043</li>
                Add more contacts as needed
            </ul> -->

            <!-- Add more sections as needed -->

        </div>
    </div>
</div>
<div class="container">
    

</div>
<%- include("partials/footer"); -%>